<!--Professor Course Creation tool-->
<!--Verification is done by a SQL query-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--meta tags-->
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--page title-->
    <title>View Courses</title>

    <!--CSS stylesheets-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" data-th-href="@{../static/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!--JavaScript... scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<header>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">CSUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--Professor Navbar-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li sec:authorize="hasRole('INSTRUCTOR')" class="nav-item active">
                    <a class="nav-link" href="./coursecreate.html">Create Course</a>
                </li>
                <li sec:authorize="hasRole('INSTRUCTOR')" class="nav-item active">
                    <a class="nav-link" href="./courseview.html">View Courses</a>
                </li>

                <!--Administrator Navbar-->
                <li sec:authorize="hasRole('ADMIN')" class="nav-item active">
                    <a class="nav-link" href="./adminadd.html">Add Administrator</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item active">
                    <a class="nav-link" href="./studentadd.html">Add Student</a>
                </li>
            </ul>
            <a class="btn btn-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#"
               data-th-href="@{/logout}">Logout</a>
        </div>

    </nav>
</header>

    <!--Page Body-->
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Course #</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">View Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">$course.courseid</th>
                            <td>$course.coursename</td>
                            <td><button id="$course.courseid">View Course</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <br>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Student #</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Drop Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">$student.studentid</th>
                            <td>$student.fname $student.lname</td>
                            <td><button id="$student.studentid">Drop Student</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div id="student0">
                    <div class="row">
                        <div class="col">
                            Student Information
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Student ID number">
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <button id="addStudent">New Student Form</button>
        </div>
    </div>

    <!--Footer Information-->
    <footer class="row justify-content-right">
        <div class="col-4">
            WhatsDue &copy; 2019 <br>
            Edidiong Ekpo, Edwin Hernandez, Nicholas Kalar
        </div>
    </footer>

</body>

<!--Custom script-->
<script src="../static/js/script.js" th:src="@{../static/js/script.js}"></script>


</html>