<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whats due</title>
</head>
<body>
<p> <title>Database Systems</title>
    <courseNumber>3420</courseNumber>
    <professor>Dr. Huaqing Wang</professor>
    <time>MW 1:00pm - 1:50pm</time>
    <officeHours>Monday 2pm-5pm</officeHours>
    <officeHours>Tuesday 1pm-2:30pm</officeHours>
    <officeHours>Wednesday 2pm-5pm</officeHours>
    <assignments>phase 1 - due 2/5</assignments>
    <assignments>phase 2 - due 2/28</assignments>
    <assignments>phase 3 - due 3/15</assignments>
    <assignments>phase 4 - due 4/6</assignments>
    <assignments>phase 5 - due 5/5</assignments>
    <test>midterm - 3/4</test>
    <test>final - 5/18</test>
    <misc>Information about cheating</misc>
    <misc>Grading breakdown</misc>
    <misc>Students with Disabilities information</misc>
    <misc>Any other resources wished to be passed to students</misc>
</p>
</body>
</html>