<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whats due</title>
</head>
<body>
<p>
    <course>
        <title>Programming Languages</title>
        <courseNumber>3500</courseNumber>
        <professor>Walte Morales</professor>
        <time>T lecture 7:00pm - 8:40pm</time>
        <time>F lab 6:00pm - 8:40pm</time>
        <officeHours>Tuesday 5:30pm-7pm</officeHours>
        <officeHours>Friday 4pm-6pm</officeHours>
        <officeHours>By appointment</officeHours>
        <assignments>Lab1 - due 1/28</assignments>
        <assignments>Lab2 - due 2/7</assignments>
        <assignments>lab3 - due 2/14</assignments>
        <assignments>lab4 - due 2/21</assignments>
        <assignments>lab5 - due 2/28</assignments>
        <assignments>lab6 - due 3/4</assignments>
        <assignments>lab7 - due 3/11</assignments>
        <assignments>lab8 - due 3/18</assignments>
        <assignments>lab9 - due 3/25</assignments>
        <assignments>lab10 - due 4/3</assignments>
        <test>midterm - 3/4</test>
        <test>final - 5/18</test>
        <misc>Information about cheating</misc>
        <misc>Grading breakdown</misc>
        <misc>Students with Disabilities information</misc>
        <misc>Any other resources wished to be passed to students</misc>
    </course>

</p>
</body>
</html>