<course>
    <title>Software Engineering</title>
    <courseNumber>3350</courseNumber>
    <professor>Dr. Nicholas Toothman</professor>
    <time>MW lecture 11:00am - 11:50am</time>
    <time>T lab 10:00am - 12:30pm</time>
    <officeHours>Monday 2pm-5pm</officeHours>
    <officeHours>Tuesday 1pm-2:30pm</officeHours>
    <officeHours>Wednesday 2pm-5pm</officeHours>
    <assignments>Lab1 - due 1/28</assignments>
    <assignments>Lab2 - due 2/7</assignments>
    <assignments>lab3 - due 2/14</assignments>
    <assignments>lab4 - due 2/21</assignments>
    <assignments>lab5 - due 2/28</assignments>
    <assignments>lab6 - due 3/4</assignments>
    <assignments>lab7 - due 3/11</assignments>
    <assignments>lab8 - due 3/18</assignments>
    <assignments>lab9 - due 3/25</assignments>
    <assignments>lab10 - due 4/3</assignments>
    <assignments>Homework 1 - due 2/9</assignments>
    <assignments>Homework 2 - due 2/24</assignments>
    <assignments>Project progress report - due 3/25</assignments>
    <assignments>Final Project - due 5/18</assignments>
    <test>midterm - 3/4</test>
    <test>final - 5/18</test>
    <misc>Information about cheating</misc>
    <misc>Grading breakdown</misc>
    <misc>Students with Disabilities information</misc>
    <misc>Any other resources wished to be passed to students</misc>
</course>